<a href="https://colab.research.google.com/github/ankush-91/SQL-Code/blob/master/ankush_sql_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Problem Link: https://www.hackerrank.com/challenges/binary-search-tree-1/problem?isFullScreen=false

select N,
case when P is null then 'Root'
 when N in (select P from BST) then 'Inner' else "Leaf" end
from BST order by N asc

In [ ]:
Problem Link: https://www.hackerrank.com/challenges/weather-observation-station-5/problem?isFullScreen=true

with CTE as (
select CITY,
    len(CITY) AS LENGTH,
row_number() over (order by len(CITY), CITY) ROW_NUM
    from STATION
)

select CITY, LENGTH from CTE where ROW_NUM in (select min(ROW_NUM) from CTE) or
ROW_NUM in (select max(ROW_NUM) from CTE)

In [ ]:
Problem Link: https://www.hackerrank.com/challenges/the-company/problem?isFullScreen=true

with all_data as (
select c.company_code,
c.founder,
l.lead_manager_code,
s.senior_manager_code,
m.manager_code,
e.employee_code from

company c join lead_manager l on
    c.company_code = l.company_code
join senior_manager s on
    s.company_code = l.company_code and s.lead_manager_code = l.lead_manager_code
join manager m on
    m.senior_manager_code = s.senior_manager_code and
    m.lead_manager_code = s.lead_manager_code and
    m.company_code = s.company_code
join employee e on
    e.manager_code = m.manager_code and
    e.senior_manager_code = m.senior_manager_code and
    e.lead_manager_code = m.lead_manager_code and
    e.company_code = m.company_code
)

select company_code,
founder,
count(distinct lead_manager_code),
count(distinct senior_manager_code),
count(distinct manager_code),
count(distinct employee_code)
from all_data group by company_code, founder order by company_code asc

In [ ]:
Problem Link: https://www.hackerrank.com/challenges/the-report/problem?isFullScreen=true
select iif(g.Grade<8,null, s.Name),
g.Grade,
s.Marks  from Students s join Grades g on
s.Marks between g.Min_mark and g.Max_mark order by g.Grade desc, s.Name asc, s.Marks asc;